<section class="footer1">
         <div class="container">
            <div class="cision-row cision-justify-content-center">
               <div class="cision-col-lg-8 cision-col-md-12 align-center">
				<div class="footer-menu">
					<div class="footer-item">
						<ul>
                        <div data-sly-resource="${@ path='mobileFooter', resourceType='/apps/cision/components/common/footerComponents/navigationFooterMobile'}" data-sly-unwrap></div>
                        <div data-sly-resource="${@ path='footer_contact', resourceType='/apps/cision/components/common/footerComponents/footerContact'}" data-sly-unwrap></div>
						</ul>

				</div>
               </div>
            </div>
         </div>
      </section>