<div data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder" data-emptytext="Configure footer"></div>
<footer id="main-footer">
            <nav class="nav">
                <sly data-sly-list.multifieldNodes="${resource.getChildren}">
                    <sly data-sly-test="${multifieldNodes.name =='multiFieldItems'}">
                        <sly data-sly-list.navlist="${multifieldNodes.getChildren}">
                            <a href="${navlist.navLink}">${navlist.navigationtitle}</a>
                        </sly>
                    </sly>
                </sly>
            </nav>               
        </div>      
    </div>        
</footer>
